doctype html
html


  head

    title Rockey Burgers
    include src/pug/_head.pug


  body

    .container
      .marg

        //- header
        .header
          img(src="src/images/logo.png", alt="rockey burgers logo").logo

          //- nav
          .nav
            .nav-links
              a(href="#") Home
              a(href="#") Menu
            .spacer
            .nav-socials
              a(href="#")
                i.fab.fa-twitter
              a(href="#")
                i.fab.fa-facebook

        //- slogan
        .slogan
          h1 Best quality burgers in town.<br>Off the charts!
          a(href="#").button Peep the menu

    //- hero
    .hero

    .container
      .marg

        //- about
        .about
          .row
            .col.col--5-of-8
              h1 About us
              p Step into any Rockey Burgers, and you’ll notice we’re different. From our famous (free) house-made pickles, to the hand-painted signage, to our cheerful staff, we build our restaurants like we build our burgers–sustainably, locally, and with an unwavering commitment to quality.
              #about-more
                p Fresh, quality produce, meat, dairy and buns, sourced from partners located just miles from our restaurants, are the ingredients to making the perfect burger. This commitment to creating the best possible food for our guests is a direct reflection of our promise of creating fast food burgers using slow food values.
                h2 Bite into any Super burger, and taste the difference. Our burgers, fries, and shakes are made with the finest, freshest ingredients available.
                p All our beef is Rockey Farms, humanely-raised, vegetarian-fed, ground fresh daily, and sourced from a family-owned ranch.
                p All of our shakes and cones are made with organic cream from Rockey Creamery, a small, family-owned, organic farm located South of Nephi, Utah.
                p Our buns are baked to our specification by an artisan baker in Nephi, UT.
                p The potatoes we use to make our French fries are made from potatoes grown in North America by growers who are required to identify the genetic source of their seed potatoes. We do not work with genetically modified potato varieties. Our potatoes are processed fresh off the field and delivered to us without any modifications. We proudly serve Sir Kensington ketchup.
              .cta#about-cta
                .cta-content
                  a Tell me more
                  i.fas.fa-arrow-alt-circle-down

        //- tiles
        .tiles
          .row
            .col.col--1-of-2
              .tile
            .col.col--1-of-2
              .tile.tile-down

        //- locations
        .locations
          .row
            .col.col--4-of-8.col--push-1-of-8
              .locations-title
                h1 Locations
                p Mon – Fri 11am to 8pm, Sat 10am to 8pm<br>Closed Sundays!
          //- map here
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3531.6878218168486!2d-111.89544191502549!3d40.7687590188219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752f508b7dc56a9%3A0x13d77d6e854d7e79!2sCity+Creek+Center!5e0!3m2!1sen!2sus!4v1537643803330", frameborder="0", style="border:0", allowfullscreen)

          .columns
            .row
              .col.col--3-of-8.col--push-1-of-8
                .column-item
                  h2 SLC
                  p 346 Kearns Street — Salt Lake City, UT 84111<br><u>801-677-0070</u>

              .col.col--3-of-8
                .column-item
                  h2 Sandy
                  p 346 Murray Lane - Sandy, UT 84093<br><u>801-777-0070</u>

            .row
              .col.col--3-of-8.col--push-1-of-8
                .column-item
                  h2 Lehi
                  p 1205 Cabela Drive - Lehi, UT 8403<br><u>801-677-0070</u>

              .col.col--3-of-8
                .column-item
                  h2 Provo
                  p 841 N University Ave - Provo, UT 84604<br><u>801-677-0070</u>

        //- faqs
        .faqs
          .row
            .col.col--5-of-8
              h1 FAQs

              .question
                h2 Why is my Rockey burger so expensive
                #whyburger-more
                  p We focus on making meals with the best and freshest ingredients, like humanely-raised beef that is ground fresh each day, organic chicken, and Rockey Family Dairy’s organic cream for our ice cream cones, sundaes and shakes.
                  p Our commitment to freshness and quality means higher prices than you’d find at traditional fast-food burger chains. It also means food that tastes way better — because, well, it is.
                .cta#whyburger-cta
                  .cta-content
                    a I give up
                    i.fas.fa-arrow-alt-circle-down
              .question
                h2 Where does your beef come from?
                #wherebeef-more
                  p We source our humanely-raised, vegetarian-fed beef from local, family-owned ranches. We use an 85% to 15% protein to fat blend, a mixture of the lean protein and the marbling found on in a cut of steak for our ground beef. The mixture is ground daily, and thus, our burgers taste so amazing.
                .cta#wherebeef-cta
                  .cta-content
                    a I give up
                    i.fas.fa-arrow-alt-circle-down