doctype html
html


  head

    title Rockey Burgers
    include src/pug/_head.pug


  body

    .container
      .marg

        //- header
        .header
          img(src="src/images/logo.png", alt="rockey burgers logo").logo

          //- nav
          .nav
            .nav-links
              a(href="#") Home
              a(href="#") Menu
            .spacer
            .nav-socials
              a(href="#")
                i.fab.fa-twitter
              a(href="#")
                i.fab.fa-facebook

        .section

          //- slogan
          .slogan
            h1 Best quality burgers in town.<br>Off the charts!
            a(href="#").button Peep the menu