doctype html
html


  head

    title Rockey Burgers
    include src/pug/_head.pug


  body

    .container
      .marg

        //- header
        .header
          img(src="src/images/logo.png", alt="rockey burgers logo").logo

          //- nav
          .nav
            .nav-links
              a(href="#") Home
              a(href="#") Menu
            .spacer
            .nav-socials
              a(href="#")
                i.fab.fa-twitter
              a(href="#")
                i.fab.fa-facebook

        //- slogan
        .slogan
          h1 Best quality burgers in town.<br>Off the charts!
          a(href="#").button Peep the menu

    //- hero
    .hero

    .container
      .marg

        //- about
        .about
          .row
            .col.col--5-of-8
              h1 About us
              p Step into any Rockey Burgers, and you’ll notice we’re different. From our famous (free) house-made pickles, to the hand-painted signage, to our cheerful staff, we build our restaurants like we build our burgers–sustainably, locally, and with an unwavering commitment to quality.
              .cta
                .cta-content
                  a Tell me more
                  i.fas.fa-arrow-alt-circle-down