
.overlay#sub
  .modal
    .modal-marg

      i.fas.fa-times-circle#sub-close
      h2 Subscribe
      p Don't miss out on any discounts!

      form

        .form-group
          label Full name
          input(type="text")
        .form-group
          label Email
          input(type="email")
        .form-group
          label Phone
          input(type="text")
        .form-group
          input(type="submit")