@import 'partials/vars';
@import 'partials/toast';


// global
body {
  margin: 0;
  color: $main;
  font: {
    family: 'Raleway', sans-serif;
    size: 14px;
    weight: 400;
  }

}

h1 {
  margin: 0 0 30px 0;
  font: {
    family: 'Montserrat', sans-serif;
    size: 40px;
    weight: 900;
  }

}

h2 {
  @extend h1;
  font-size: 20px;
}

p {
  color: transparentize($main, .4);
  line-height: 1.8;
  margin: 0;
}

a {
  color: $main;
  text-decoration: none;
  font-weight: 700;
}

i {
  font-size: 18px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  color: white;
  background: $accent;
}

.cta {
  color: $accent;
  display: inline-block;
  cursor: pointer;

  &-content {
    display: flex;
    align-items: center;

    a {
      color: $accent;
    }

    i {
      margin: 0 0 0 15px;
    }
  
  }

}


// layout
.container {
  max-width: 960px;
  margin: 0 auto;
}

.marg {
  margin: 0 30px;
}


// header
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 0 0 0;
  background: seashell; // for dev only

  .logo {
    height: 60px;
  }

}


// nav
.nav {
  display: flex;
  align-items: center;

  .spacer {
    height: 14px; width: 2px;
    margin: 0 45px;
    background: transparentize($main, .85);
  }

  &-links a {
    margin: 0 30px 0 0;

    &:last-of-type {
      margin: 0;
    }

  }

  &-socials a {
    margin: 0 30px 0 0;

    &:last-of-type {
      margin: 0;
    }

  }

}


// slogan
.slogan {
  margin: 150px 0;
  background: seashell; // for dev only
}


// hero
.hero {
  height: 600px;
  background: #eee;

}


// about
.about {
  margin: 150px 0 0 0;
  background: seashell; // for dev only

  .cta {
    margin: 45px 0 0 0;
  }

}